Interest_Form_Email.json
{
  "name": "Interest Form Email",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6aff05cf-0e70-42f6-adbd-d9625861b0bd",
              "leftValue": "={{ $json.labelIds.filter(item => item == \"SENT\") }}",
              "rightValue": "SENT",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d438f980-e603-444a-aa76-92e16863be8a",
      "name": "Check if email successfully sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        280
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "Automation triggered on rowAdded from Google Form",
        "height": 80,
        "width": 218.6088707718815,
        "color": 3
      },
      "id": "a040e2ac-a2e9-4e1d-b0da-8bb4c1e97c86",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d8af12f-0900-4af3-9871-1f30e633681f",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "81e41697-e4e9-46f4-9f7c-0e98ba8086f1",
              "leftValue": "={{ $json['Full Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "85c81214-d612-4631-8adc-20f579690c9d",
              "leftValue": "={{ $json['Automation Status'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "cd9b3b2c-a052-4bff-8dd3-eb5d85f9494b",
      "name": "Check if email and full name is not empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        360
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "Build with AI Jakarta 2025 - Thank You for Registering Your Interest!",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Build with AI Jakarta 2025 - Thank You for Registering Your Interest</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap\" rel=\"stylesheet\">\n    <style>\n      body {\n        margin: 0;\n        padding: 0;\n        font-family: 'Poppins', sans-serif;\n        background-color: #f1f3f4;\n      }\n\n      .container {\n        max-width: 510px;\n        margin: 0 auto;\n        background-color: #fff;\n        padding: 30px;\n      }\n\n      .header-img {\n        width: 100%;\n        height: auto;\n      }\n\n      .center {\n        text-align: center;\n      }\n\n      .start {\n        text-align: start;\n      }\n\n      .btn {\n        display: block;\n        background-color: #4285f4;\n        color: #fff !important;\n        text-align: center;\n        border-radius: 50px;\n        padding: 10px 20px;\n        text-decoration: none;\n        width: 50%;\n        margin: 20px auto;\n      }\n\n      .btn:hover {\n        background-color: #3367d6;\n      }\n\n      .footer-img {\n        width: 100%;\n        height: auto;\n      }\n\n      .footer {\n        margin-top: 24pt;\n        padding: 18pt 18pt 18pt 18pt;\n        background-color: #f0f0f0;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"center\">\n        <img src=\"https://i.imgur.com/VJguxLD.png\" alt=\"Header\" class=\"header-img\">\n      </div>\n      <div class=\"start\">\n        <h2>Hi {{ $json['Full Name'] }},</h2>\n      </div>\n      <div class=\"start\">\n        <p>Thank you for registering your interest in <strong>Build with AI Jakarta 2025</strong>! We're excited about the event and thrilled that you're interested in being a part of it.</p>\n        <p>We are carefully curating a professional audience for this event to ensure a high-quality and engaging experience. Your submission helps us understand your interest and background, which will be considered during the selection process.</p>\n        <p><strong>Please note that this is only an interest form and does not serve as a ticket or official registration for the event.</strong> If you are selected for in-person participation, you will receive a follow-up email with further instructions. However, if you do not receive any future email updates, it means that you are invited to join the event online instead.</p>\n        <p>Stay tuned for more details as we finalize the agenda, speakers, and activities. We’ll be in touch with updates and registration details soon.</p>\n        <a href=\"https://gdgjakarta.com/bwai-2025\" class=\"btn\">Visit Our Website</a>\n        <p>If you have any questions, feel free to reach out to us at <a href=\"mailto:info@gdgjakarta.org\">info@gdgjakarta.org</a>. </p>\n        <p>Looking forward to seeing you at <strong>Build with AI Jakarta 2025</strong>! </p>\n      </div>\n      <div class=\"center\">\n        <div class=\"footer\">\n          <span style=\"overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 113.00px; height: 61.13px;\">\n            <img alt=\"footer\" src=\"https://i.imgur.com/9Bwmfvj.png\" style=\"width: 113.00px; height: 61.13px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);\" title=\"\">\n          </span>\n        </div>\n      </div>\n    </div>\n  </body>\n</html>",
        "options": {
          "appendAttribution": true
        }
      },
      "id": "64826c3d-4d8a-4372-b6a9-1cd3b1de4787",
      "name": "Send interest email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        360
      ],
      "webhookId": "d76d00f8-6da8-45ca-9fd0-0adf5fb2afc9",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "ItMwLZ1IpafPGMLH",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM",
          "mode": "list",
          "cachedResultName": "Build with AI 2025 - Interest Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Curation Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:Z999999"
            }
          }
        }
      },
      "id": "34f204cc-4888-428e-b376-d447fe790b6b",
      "name": "Attendee fill the form",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        360,
        360
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "n59zLQzKnunYPchk",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM",
          "mode": "list",
          "cachedResultName": "Build with AI 2025 - Interest Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Interest Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Check if email and full name is not empty').item.json['Email Address'] }}",
            "Automation Status": "INTEREST EMAIL SENT"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Attendee Status",
              "displayName": "Attendee Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Session",
              "displayName": "Session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Commitment Fee Deadline",
              "displayName": "Commitment Fee Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Institution/Company",
              "displayName": "Institution/Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "YoE",
              "displayName": "YoE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "3d449e79-074f-4032-a95d-7cd09834aaa7",
      "name": "Update automation status to INTEREST EMAIL SENT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1500,
        160
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BE69SyJ90j0eJrgx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM",
          "mode": "list",
          "cachedResultName": "Build with AI 2025 - Interest Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Interest Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Check if email and full name is not empty').item.json['Email Address'] }}",
            "Automation Status": "INTEREST EMAIL FAILED"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Attendee Status",
              "displayName": "Attendee Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Session",
              "displayName": "Session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Commitment Fee Deadline",
              "displayName": "Commitment Fee Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Institution/Company",
              "displayName": "Institution/Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "YoE",
              "displayName": "YoE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "36172310-6500-423a-8f60-e052c1b85de5",
      "name": "Update automation status to INTEREST EMAIL FAILED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1500,
        340
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BE69SyJ90j0eJrgx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM",
          "mode": "list",
          "cachedResultName": "Build with AI 2025 - Interest Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Interest Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E0kneIai2C_E0krch9dXdizkJ55qITboxQ-fz9p-iEM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Check if email and full name is not empty').item.json['Email Address'] }}",
            "Automation Status": "ERROR ON INTEREST"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Attendee Status",
              "displayName": "Attendee Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Session",
              "displayName": "Session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Commitment Fee Deadline",
              "displayName": "Commitment Fee Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Institution/Company",
              "displayName": "Institution/Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "YoE",
              "displayName": "YoE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "2b912a0e-beb0-4c9e-9e90-4d65287c3435",
      "name": "Update automation status to ERROR ON INTEREST",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1500,
        520
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BE69SyJ90j0eJrgx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "53874a0f-3862-4faf-a2e6-3e65746cd235",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        780,
        360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Check if email successfully sent": {
      "main": [
        [
          {
            "node": "Update automation status to INTEREST EMAIL SENT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to INTEREST EMAIL FAILED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR ON INTEREST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if email and full name is not empty": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send interest email": {
      "main": [
        [
          {
            "node": "Check if email successfully sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR ON INTEREST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendee fill the form": {
      "main": [
        [
          {
            "node": "Check if email and full name is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send interest email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update automation status to INTEREST EMAIL SENT": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9cf9c31-4415-4d67-951d-0ee0898629b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "496db227451f90ed7caa7ec4cceb57d946f3edcf2e38a2d5c1a3c7afe039993c"
  },
  "id": "x92DeK7mm2Om2Rtv",
  "tags": []
}