PO_Merch_Confirmation.json
{
  "name": "PO Merch Confirmation",
  "nodes": [
    {
      "parameters": {
        "jsCode": "function formatRp(value) {\n  return `Rp${value.toLocaleString(\"id-ID\")}`;\n}\n\nreturn $input.all().map(({ json }) => {\n  const promoCode = (json[\"Promo Code\"] || \"\").trim().toLowerCase();\n\n  let shirtPrice = 200000;\n  let flazzPrice = 150000;\n\n  // 🔁 Use switch-like logic\n  switch (promoCode) {\n    case \"volunteer-iox25-promo\":\n      shirtPrice = 120000;\n      flazzPrice = 100000;\n      break;\n    case \"organizer-iox25-promo-onlyyyy\":\n      shirtPrice = 100000;\n      flazzPrice = 80000;\n      break;\n    default:\n      // let the default value\n      break;\n  }\n\n  const itemList = [\n    // Android Shirts\n    { key: \"Android\\nS\", label: \"The Fan Android (S)\", price: shirtPrice },\n    { key: \"Android\\nM\", label: \"The Fan Android (M)\", price: shirtPrice },\n    { key: \"Android\\nL\", label: \"The Fan Android (L)\", price: shirtPrice },\n    { key: \"Android\\nXL\", label: \"The Fan Android (XL)\", price: shirtPrice },\n    { key: \"Android\\nXXL\", label: \"The Fan Android (XXL)\", price: shirtPrice },\n\n    // Web Shirts\n    { key: \"Web\\nS\", label: \"The Fan Web (S)\", price: shirtPrice },\n    { key: \"Web\\nM\", label: \"The Fan Web (M)\", price: shirtPrice },\n    { key: \"Web\\nL\", label: \"The Fan Web (L)\", price: shirtPrice },\n    { key: \"Web\\nXL\", label: \"The Fan Web (XL)\", price: shirtPrice },\n    { key: \"Web\\nXXL\", label: \"The Fan Web (XXL)\", price: shirtPrice },\n\n    // Cloud Shirts\n    { key: \"Cloud\\nS\", label: \"The Fan Cloud (S)\", price: shirtPrice },\n    { key: \"Cloud\\nM\", label: \"The Fan Cloud (M)\", price: shirtPrice },\n    { key: \"Cloud\\nL\", label: \"The Fan Cloud (L)\", price: shirtPrice },\n    { key: \"Cloud\\nXL\", label: \"The Fan Cloud (XL)\", price: shirtPrice },\n    { key: \"Cloud\\nXXL\", label: \"The Fan Cloud (XXL)\", price: shirtPrice },\n\n    // Gemini Shirts\n    { key: \"Gemini\\nS\", label: \"The Fan Gemini (S)\", price: shirtPrice },\n    { key: \"Gemini\\nM\", label: \"The Fan Gemini (M)\", price: shirtPrice },\n    { key: \"Gemini\\nL\", label: \"The Fan Gemini (L)\", price: shirtPrice },\n    { key: \"Gemini\\nXL\", label: \"The Fan Gemini (XL)\", price: shirtPrice },\n    { key: \"Gemini\\nXXL\", label: \"The Fan Gemini (XXL)\", price: shirtPrice },\n\n    // The Builder Shirts\n    { key: \"The Builder\\nS\", label: \"The Builder (S)\", price: shirtPrice },\n    { key: \"The Builder\\nM\", label: \"The Builder (M)\", price: shirtPrice },\n    { key: \"The Builder\\nL\", label: \"The Builder (L)\", price: shirtPrice },\n    { key: \"The Builder\\nXL\", label: \"The Builder (XL)\", price: shirtPrice },\n    { key: \"The Builder\\nXXL\", label: \"The Builder (XXL)\", price: shirtPrice },\n\n    // Flazz Cards\n    { key: \"Flazz Card\\nAndroid\", label: \"Flazz Card Android\", price: flazzPrice },\n    { key: \"Flazz Card\\nWeb\", label: \"Flazz Card Web\", price: flazzPrice },\n    { key: \"Flazz Card\\nCloud\", label: \"Flazz Card Cloud\", price: flazzPrice },\n    { key: \"Flazz Card\\nGemini\", label: \"Flazz Card Gemini\", price: flazzPrice },\n  ];\n\n  let total = 0;\n  let lines = [];\n\n  for (const product of itemList) {\n    const qtyRaw = json[product.key];\n    const qty = parseInt(qtyRaw) || 0;\n\n    if (qty > 0) {\n      const subtotal = qty * product.price;\n      total += subtotal;\n      lines.push(\n        `<p>${product.label} – ${formatRp(product.price)} × ${qty} = <span class=\"highlight\">${formatRp(subtotal)}</span></p>`\n      );\n    }\n  }\n\n  return {\n    json: {\n      orderSummaryHtml: lines.join(\"\\n\"),\n      formattedAmount: formatRp(total),\n      expectedAmount: total,\n      ...json,\n    },\n  };\n});\n"
      },
      "id": "97ee5804-818a-4f75-9cb0-0a0739a3afe1",
      "name": "Create order summary verified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        1440
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "I/O Extended Jakarta 2025 - Order Verified",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>I/O Extended Jakarta 2025 - Order Verified</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap\" rel=\"stylesheet\">\n    <style>\n      body {\n        margin: 0;\n        padding: 0;\n        font-family: 'Poppins', sans-serif;\n        background-color: #f1f3f4;\n      }\n\n      .container {\n        max-width: 510px;\n        margin: 0 auto;\n        background-color: #fff;\n        padding: 30px;\n      }\n\n      .header-img {\n        width: 100%;\n        height: auto;\n      }\n\n      .center {\n        text-align: center;\n      }\n\n      .start {\n        text-align: start;\n      }\n\n      .btn {\n        display: block;\n        background-color: #4285f4;\n        color: #fff !important;\n        text-align: center;\n        border-radius: 50px;\n        padding: 10px 20px;\n        text-decoration: none;\n        width: 50%;\n        margin: 20px auto;\n      }\n\n      .btn:hover {\n        background-color: #3367d6;\n      }\n\n      .footer-img {\n        width: 100%;\n        height: auto;\n      }\n\n      .footer {\n        margin-top: 24pt;\n        padding: 18pt;\n        background-color: #f0f0f0;\n      }\n\n      .order-summary {\n        background-color: #f9f9f9;\n        padding: 15px;\n        border-radius: 8px;\n        margin-top: 20px;\n        margin-bottom: 20px;\n      }\n\n      .order-summary p {\n        margin: 5px 0;\n      }\n\n      .highlight {\n        font-weight: 600;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"center\">\n        <img src=\"https://i.imgur.com/ygRKd0K.png\" alt=\"Header\" class=\"header-img\">\n      </div>\n      <div class=\"start\">\n        <h2>Hi {{ $json['Full Name'] }},</h2>\n        <p><strong>Good news! 🎉</strong></p>\n        <p>We’ve successfully verified your pre-order and payment for the <strong>Official Google I/O 2025 Jakarta Merchandise</strong>.</p>\n        <p>Your order is now <strong>confirmed and reserved</strong> under your name.</p>\n\n        <div class=\"order-summary\">\n          <h3>🛍️ Order Summary:</h3>\n          {{ $json.orderSummaryHtml }}\n          <br>\n          <p><strong>Total Transfer:</strong> {{ $json.formattedAmount }}</p>\n          <p><strong>Payment Method:</strong> {{ $json[\"Payment Service\"] }}</p>\n          <p><strong>To:</strong><br>\n            Bank: Bank Jago <br>\n            Account Number: 1088 4943 6822 <br>\n            Account Name: Anggi Maisa Hadaya\n          </p>\n        </div>\n\n        <h3>📦 Merchandise Pickup Info:</h3>\n        <p>Your items will be ready for collection at the <strong>Google I/O Extended Jakarta 2025</strong> event venue.</p>\n        <p>Please bring:</p>\n        <ul>\n          <li>Your event ticket</li>\n          <li>This confirmation email</li>\n        </ul>\n\n        <p>If you have any questions or need help, feel free to contact us at our <a href=\"https://instagram.com/gdgjakarta\" target=\"_blank\">Instagram</a>.</p>\n\n        <p>Thanks again for your support. We look forward to seeing you at the event!</p>\n      </div>\n      <div class=\"center\">\n        <div class=\"footer\">\n          <img alt=\"footer\" src=\"https://i.imgur.com/9Bwmfvj.png\" style=\"width: 113px; height: 61px;\">\n        </div>\n      </div>\n    </div>\n  </body>\n</html>",
        "options": {
          "appendAttribution": true
        }
      },
      "id": "880da697-5c4b-4659-b00a-ca44a6f069a8",
      "name": "Send verified email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        1440
      ],
      "webhookId": "c11c592f-6772-485c-9155-ea835040a780",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "ItMwLZ1IpafPGMLH",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function formatRp(value) {\n  return `Rp${value.toLocaleString(\"id-ID\")}`;\n}\n\nreturn $input.all().map(({ json }) => {\n  const promoCode = (json[\"Promo Code\"] || \"\").trim().toLowerCase();\n\n  let shirtPrice = 200000;\n  let flazzPrice = 150000;\n\n  // 🔁 Use switch-like logic\n  switch (promoCode) {\n    case \"volunteer-iox25-promo\":\n      shirtPrice = 120000;\n      flazzPrice = 100000;\n      break;\n    case \"organizer-iox25-promo-onlyyyy\":\n      shirtPrice = 100000;\n      flazzPrice = 80000;\n      break;\n    default:\n      // let the default value\n      break;\n  }\n\n  const itemList = [\n    // Android Shirts\n    { key: \"Android\\nS\", label: \"The Fan Android (S)\", price: shirtPrice },\n    { key: \"Android\\nM\", label: \"The Fan Android (M)\", price: shirtPrice },\n    { key: \"Android\\nL\", label: \"The Fan Android (L)\", price: shirtPrice },\n    { key: \"Android\\nXL\", label: \"The Fan Android (XL)\", price: shirtPrice },\n    { key: \"Android\\nXXL\", label: \"The Fan Android (XXL)\", price: shirtPrice },\n\n    // Web Shirts\n    { key: \"Web\\nS\", label: \"The Fan Web (S)\", price: shirtPrice },\n    { key: \"Web\\nM\", label: \"The Fan Web (M)\", price: shirtPrice },\n    { key: \"Web\\nL\", label: \"The Fan Web (L)\", price: shirtPrice },\n    { key: \"Web\\nXL\", label: \"The Fan Web (XL)\", price: shirtPrice },\n    { key: \"Web\\nXXL\", label: \"The Fan Web (XXL)\", price: shirtPrice },\n\n    // Cloud Shirts\n    { key: \"Cloud\\nS\", label: \"The Fan Cloud (S)\", price: shirtPrice },\n    { key: \"Cloud\\nM\", label: \"The Fan Cloud (M)\", price: shirtPrice },\n    { key: \"Cloud\\nL\", label: \"The Fan Cloud (L)\", price: shirtPrice },\n    { key: \"Cloud\\nXL\", label: \"The Fan Cloud (XL)\", price: shirtPrice },\n    { key: \"Cloud\\nXXL\", label: \"The Fan Cloud (XXL)\", price: shirtPrice },\n\n    // Gemini Shirts\n    { key: \"Gemini\\nS\", label: \"The Fan Gemini (S)\", price: shirtPrice },\n    { key: \"Gemini\\nM\", label: \"The Fan Gemini (M)\", price: shirtPrice },\n    { key: \"Gemini\\nL\", label: \"The Fan Gemini (L)\", price: shirtPrice },\n    { key: \"Gemini\\nXL\", label: \"The Fan Gemini (XL)\", price: shirtPrice },\n    { key: \"Gemini\\nXXL\", label: \"The Fan Gemini (XXL)\", price: shirtPrice },\n\n    // The Builder Shirts\n    { key: \"The Builder\\nS\", label: \"The Builder (S)\", price: shirtPrice },\n    { key: \"The Builder\\nM\", label: \"The Builder (M)\", price: shirtPrice },\n    { key: \"The Builder\\nL\", label: \"The Builder (L)\", price: shirtPrice },\n    { key: \"The Builder\\nXL\", label: \"The Builder (XL)\", price: shirtPrice },\n    { key: \"The Builder\\nXXL\", label: \"The Builder (XXL)\", price: shirtPrice },\n\n    // Flazz Cards\n    { key: \"Flazz Card\\nAndroid\", label: \"Flazz Card Android\", price: flazzPrice },\n    { key: \"Flazz Card\\nWeb\", label: \"Flazz Card Web\", price: flazzPrice },\n    { key: \"Flazz Card\\nCloud\", label: \"Flazz Card Cloud\", price: flazzPrice },\n    { key: \"Flazz Card\\nGemini\", label: \"Flazz Card Gemini\", price: flazzPrice },\n  ];\n\n  let total = 0;\n  let lines = [];\n\n  for (const product of itemList) {\n    const qtyRaw = json[product.key];\n    const qty = parseInt(qtyRaw) || 0;\n\n    if (qty > 0) {\n      const subtotal = qty * product.price;\n      total += subtotal;\n      lines.push(\n        `<p>${product.label} – ${formatRp(product.price)} × ${qty} = <span class=\"highlight\">${formatRp(subtotal)}</span></p>`\n      );\n    }\n  }\n\n  return {\n    json: {\n      orderSummaryHtml: lines.join(\"\\n\"),\n      formattedAmount: formatRp(total),\n      expectedAmount: total,\n      ...json,\n    },\n  };\n});\n"
      },
      "id": "8400696f-5b08-4c48-b3c5-2777593231e0",
      "name": "Create order summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6aff05cf-0e70-42f6-adbd-d9625861b0bd",
              "leftValue": "={{ $json.labelIds.filter(item => item == \"SENT\") }}",
              "rightValue": "SENT",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "68344095-d9c3-4761-b89a-40caed021fb2",
      "name": "Check if verified email successfully sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        1440
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "I/O Extended Jakarta 2025 - Order Confirmation",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>I/O Extended Jakarta 2025 - Order Confirmation</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap\" rel=\"stylesheet\">\n    <style>\n      body {\n        margin: 0;\n        padding: 0;\n        font-family: 'Poppins', sans-serif;\n        background-color: #f1f3f4;\n      }\n\n      .container {\n        max-width: 510px;\n        margin: 0 auto;\n        background-color: #fff;\n        padding: 30px;\n      }\n\n      .header-img {\n        width: 100%;\n        height: auto;\n      }\n\n      .center {\n        text-align: center;\n      }\n\n      .start {\n        text-align: start;\n      }\n\n      .btn {\n        display: block;\n        background-color: #4285f4;\n        color: #fff !important;\n        text-align: center;\n        border-radius: 50px;\n        padding: 10px 20px;\n        text-decoration: none;\n        width: 50%;\n        margin: 20px auto;\n      }\n\n      .btn:hover {\n        background-color: #3367d6;\n      }\n\n      .footer-img {\n        width: 100%;\n        height: auto;\n      }\n\n      .footer {\n        margin-top: 24pt;\n        padding: 18pt;\n        background-color: #f0f0f0;\n      }\n\n      .order-summary {\n        background-color: #f9f9f9;\n        padding: 15px;\n        border-radius: 8px;\n        margin-top: 20px;\n        margin-bottom: 20px;\n      }\n\n      .order-summary p {\n        margin: 5px 0;\n      }\n\n      .highlight {\n        font-weight: 600;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"center\">\n        <img src=\"https://i.imgur.com/ygRKd0K.png\" alt=\"Header\" class=\"header-img\">\n      </div>\n      <div class=\"start\">\n        <h2>Hi {{ $json['Full Name'] }},</h2>\n        <p>Thank you for placing your pre-order for the <strong>Official Google I/O Extended 2025 Jakarta Merchandise</strong>! 🎉 </p>\n        <p>We’ve received your order and payment, and it’s currently <strong>pending verification</strong> by our team. </p>\n        <div class=\"order-summary\">\n          <h3>🛍️ Order Summary:</h3>\n            {{ $json.orderSummaryHtml }}\n            <br>\n            <strong>Total Transfer:</strong> {{ $json.formattedAmount }}\n          </p>\n          <p>\n            <strong>Payment Method:</strong> {{ $json[\"Payment Service\"] }}\n          </p>\n          <p>\n            <strong>To:</strong>\n            <br> Bank: Bank Jago <br> Account Number: 1088 4943 6822 <br> Account Name: Anggi Maisa Hadaya\n          </p>\n        </div>\n        <h3>⏳ What’s Next?</h3>\n        <p>Our team will verify your order and payment within <strong>1–2 working days</strong>. Once verified, you will receive a confirmation email and your order will be officially secured. </p>\n        <p>If there’s an issue or we need additional info, we’ll contact you directly.</p>\n        <p>Thank you for supporting <strong>Google I/O Extended Jakarta 2025</strong>! </p>\n        <p>If you have any questions in the meantime, feel free to reach out to us via our <a href=\"https://instagram.com/gdgjakarta\" target=\"_blank\">Instagram</a>. </p>\n      </div>\n      <div class=\"center\">\n        <div class=\"footer\">\n          <img alt=\"footer\" src=\"https://i.imgur.com/9Bwmfvj.png\" style=\"width: 113px; height: 61px;\">\n        </div>\n      </div>\n    </div>\n  </body>\n</html>",
        "options": {
          "appendAttribution": true
        }
      },
      "id": "b6535d86-bab0-41e7-8eb0-78ca9d2e24a0",
      "name": "Send confirmation email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        640
      ],
      "webhookId": "c11c592f-6772-485c-9155-ea835040a780",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "ItMwLZ1IpafPGMLH",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d8af12f-0900-4af3-9871-1f30e633681f",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "81e41697-e4e9-46f4-9f7c-0e98ba8086f1",
              "leftValue": "={{ $json['Full Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "85c81214-d612-4631-8adc-20f579690c9d",
              "leftValue": "={{ $json['Automation Status'] }}",
              "rightValue": "SEND EMAIL",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "2253f1d0-8eaf-4ae0-b058-2b83aa7419d7",
              "leftValue": "={{ $json['Expected Amount'] }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "e5531420-23d9-495e-b38c-7a46270b2239",
      "name": "Check if email and name is not empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        660
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ee7e670b-22c5-482c-aa42-02b03ed04ba1",
      "name": "Loop Item Paid",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -440,
        1440
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ccf9f4a-53d7-4dd7-8450-83ca8e372c0e",
              "leftValue": "={{ $json['Order Status'] }}",
              "rightValue": "ORDER VERIFIED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "79f1b1ca-581f-469a-9099-f8591b68e7b3",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "bc490663-2c3a-44c5-8248-618b20b1000b",
              "leftValue": "={{ $json['Automation Status'] }}",
              "rightValue": "ADDED TO MERCH TICKET",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "89ed29fc-c4f1-4e66-8855-7e31359f3d87",
      "name": "Check if ORDER VERIFIED",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -500,
        1160
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA",
          "mode": "list",
          "cachedResultName": "[IOX 25 Jakarta] PO Official Merchandise (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 625951461,
          "mode": "list",
          "cachedResultName": "Verification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA/edit#gid=625951461"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Loop Item Paid').item.json['Email Address'] }}",
            "Automation Status": "ADDED TO MERCH TICKET"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order Status",
              "displayName": "Order Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Registered Email",
              "displayName": "Registered Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Commitment Fee?",
              "displayName": "Commitment Fee?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Account Name",
              "displayName": "Payment Account Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proof of Payment",
              "displayName": "Proof of Payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Service",
              "displayName": "Payment Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nS",
              "displayName": "Android\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nM",
              "displayName": "Android\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nL",
              "displayName": "Android\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nXL",
              "displayName": "Android\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nXXL",
              "displayName": "Android\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nS",
              "displayName": "Web\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nM",
              "displayName": "Web\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nL",
              "displayName": "Web\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nXL",
              "displayName": "Web\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nXXL",
              "displayName": "Web\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nS",
              "displayName": "Cloud\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nM",
              "displayName": "Cloud\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nL",
              "displayName": "Cloud\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nXL",
              "displayName": "Cloud\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nXXL",
              "displayName": "Cloud\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nS",
              "displayName": "Gemini\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nM",
              "displayName": "Gemini\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nL",
              "displayName": "Gemini\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nXL",
              "displayName": "Gemini\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nXXL",
              "displayName": "Gemini\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nS",
              "displayName": "The Builder\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nM",
              "displayName": "The Builder\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nL",
              "displayName": "The Builder\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nXL",
              "displayName": "The Builder\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nXXL",
              "displayName": "The Builder\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nAndroid",
              "displayName": "Flazz Card\nAndroid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nWeb",
              "displayName": "Flazz Card\nWeb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nCloud",
              "displayName": "Flazz Card\nCloud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nGemini",
              "displayName": "Flazz Card\nGemini",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promo Code",
              "displayName": "Promo Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "19d96e4d-318d-443d-89ab-897c6ab0af0a",
      "name": "Update automation status to ADDED TO MERCH TICKET",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1440,
        1180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BE69SyJ90j0eJrgx",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA",
          "mode": "list",
          "cachedResultName": "[IOX 25 Jakarta] PO Official Merchandise (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 625951461,
          "mode": "list",
          "cachedResultName": "Verification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA/edit#gid=625951461"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Check if email and name is not empty').item.json['Email Address'] }}",
            "Automation Status": "ORDER EMAIL SENT"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order Status",
              "displayName": "Order Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Registered Email",
              "displayName": "Registered Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Commitment Fee?",
              "displayName": "Commitment Fee?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Account Name",
              "displayName": "Payment Account Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proof of Payment",
              "displayName": "Proof of Payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Service",
              "displayName": "Payment Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nS",
              "displayName": "Android\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nM",
              "displayName": "Android\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nL",
              "displayName": "Android\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nXL",
              "displayName": "Android\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nXXL",
              "displayName": "Android\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nS",
              "displayName": "Web\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nM",
              "displayName": "Web\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nL",
              "displayName": "Web\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nXL",
              "displayName": "Web\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nXXL",
              "displayName": "Web\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nS",
              "displayName": "Cloud\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nM",
              "displayName": "Cloud\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nL",
              "displayName": "Cloud\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nXL",
              "displayName": "Cloud\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nXXL",
              "displayName": "Cloud\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nS",
              "displayName": "Gemini\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nM",
              "displayName": "Gemini\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nL",
              "displayName": "Gemini\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nXL",
              "displayName": "Gemini\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nXXL",
              "displayName": "Gemini\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nS",
              "displayName": "The Builder\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nM",
              "displayName": "The Builder\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nL",
              "displayName": "The Builder\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nXL",
              "displayName": "The Builder\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nXXL",
              "displayName": "The Builder\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nAndroid",
              "displayName": "Flazz Card\nAndroid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nWeb",
              "displayName": "Flazz Card\nWeb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nCloud",
              "displayName": "Flazz Card\nCloud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nGemini",
              "displayName": "Flazz Card\nGemini",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promo Code",
              "displayName": "Promo Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "1bfb0e15-209b-4752-933c-1639cd8b13e6",
      "name": "Update automation status to ORDER EMAIL SENT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        780,
        640
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BE69SyJ90j0eJrgx",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "811adf73-39f8-496c-a226-cac860b18f6b",
              "leftValue": "={{ $json.body.results }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2049c3f3-dd02-4603-8795-dc0682041116",
      "name": "If attendee has not been added",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        1440
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://gdg.community.dev/api/attendee/{{ $json.body.results[0].id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "csrftoken=qv9ALD8Tes1BlU625chjNOZpSuiE3rnSVcIwTiGj9zmb7gvTbs8te2p00ryO4taH; sessionid=e5vcxuy8268eaxzdpqf5gs7lx11cwy6h"
            },
            {
              "name": "Referer",
              "value": "https://gdg.community.dev/dashboard/gdg-jakarta/events/96868/registrations"
            },
            {
              "name": "X-Csrftoken",
              "value": "D5HvNz9PVPdshPEufCv6wjFJl33K4sCu8MgrVeHfQWy23b3llSmgXx5kt0jU5upj"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "953033d5-87d6-4f39-acdd-864ba7f99d2a",
      "name": "Delete Attendee",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1360
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gdg.community.dev/api/rsvp-event/order/maa-creation-finalization/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "96868"
            },
            {
              "name": "chapter",
              "value": "642"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "csrftoken=qv9ALD8Tes1BlU625chjNOZpSuiE3rnSVcIwTiGj9zmb7gvTbs8te2p00ryO4taH; sessionid=e5vcxuy8268eaxzdpqf5gs7lx11cwy6h"
            },
            {
              "name": "X-Csrftoken",
              "value": "D5HvNz9PVPdshPEufCv6wjFJl33K4sCu8MgrVeHfQWy23b3llSmgXx5kt0jU5upj"
            },
            {
              "name": "Referer",
              "value": "https://gdg.community.dev/dashboard/gdg-jakarta/events/96868/registrations"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"attendee\": {\n    \"first_name\": \"{{ (() => {\n      const fullName = $('Loop Item Paid').item.json['Full Name']?.trim() || $('Loop Item Paid').item.json['Full Name']?.split('@')[0] || 'Unknown';\n      const parts = fullName.split(/\\s+/);\n      if (parts.length === 1) return parts[0];\n      if (parts.length === 2) return parts[0];\n      return parts.slice(0, -1).join(' ');\n    })() }}\",\n    \"last_name\": \"{{ (() => {\n      const fullName = $('Loop Item Paid').item.json['Full Name']?.trim() || $('Loop Item Paid').item.json['Full Name']?.split('@')[0] || 'Unknown';\n      const parts = fullName.split(/\\s+/);\n      return parts.length === 1 ? parts[0] : parts[parts.length - 1];\n    })() }}\",\n    \"email\": \"{{ $('Loop Item Paid').item.json['Email Address'] }}\"\n  },\n  \"ticket\": 49379,\n  \"signup_consent\": true,\n  \"send_confirmation_email\": true\n}\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "76c4cac5-3bcc-4de5-af19-3900b3a02876",
      "name": "Add Attendee to Merch Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1060
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA",
          "mode": "list",
          "cachedResultName": "[IOX 25 Jakarta] PO Official Merchandise (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 625951461,
          "mode": "list",
          "cachedResultName": "Verification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA/edit#gid=625951461"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Organizer fill the email and name').item.json['Email Address'] }}",
            "Automation Status": "ERROR"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order Status",
              "displayName": "Order Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Registered Email",
              "displayName": "Registered Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Commitment Fee?",
              "displayName": "Commitment Fee?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Account Name",
              "displayName": "Payment Account Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proof of Payment",
              "displayName": "Proof of Payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Service",
              "displayName": "Payment Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Expected Amount",
              "displayName": "Expected Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nS",
              "displayName": "Android\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nM",
              "displayName": "Android\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nL",
              "displayName": "Android\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nXL",
              "displayName": "Android\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Android\nXXL",
              "displayName": "Android\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nS",
              "displayName": "Web\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nM",
              "displayName": "Web\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nL",
              "displayName": "Web\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nXL",
              "displayName": "Web\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Web\nXXL",
              "displayName": "Web\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nS",
              "displayName": "Cloud\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nM",
              "displayName": "Cloud\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nL",
              "displayName": "Cloud\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nXL",
              "displayName": "Cloud\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cloud\nXXL",
              "displayName": "Cloud\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nS",
              "displayName": "Gemini\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nM",
              "displayName": "Gemini\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nL",
              "displayName": "Gemini\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nXL",
              "displayName": "Gemini\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gemini\nXXL",
              "displayName": "Gemini\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nS",
              "displayName": "The Builder\nS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nM",
              "displayName": "The Builder\nM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nL",
              "displayName": "The Builder\nL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nXL",
              "displayName": "The Builder\nXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "The Builder\nXXL",
              "displayName": "The Builder\nXXL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nAndroid",
              "displayName": "Flazz Card\nAndroid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nWeb",
              "displayName": "Flazz Card\nWeb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nCloud",
              "displayName": "Flazz Card\nCloud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flazz Card\nGemini",
              "displayName": "Flazz Card\nGemini",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promo Code",
              "displayName": "Promo Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "3da1d7dc-9e31-4af8-a1cc-b0267b80f3e1",
      "name": "Update automation status to ERROR",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1080,
        780
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BE69SyJ90j0eJrgx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://gdg.community.dev/api/attendee_search/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "96868"
            },
            {
              "name": "chapter",
              "value": "642"
            },
            {
              "name": "search",
              "value": "={{ $('Create order summary verified').item.json['Registered Email'] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "csrftoken=qv9ALD8Tes1BlU625chjNOZpSuiE3rnSVcIwTiGj9zmb7gvTbs8te2p00ryO4taH; sessionid=e5vcxuy8268eaxzdpqf5gs7lx11cwy6h"
            },
            {
              "name": "Referer",
              "value": "https://gdg.community.dev/dashboard/gdg-jakarta/events/96868/registrations"
            },
            {
              "name": "X-Csrftoken",
              "value": "D5HvNz9PVPdshPEufCv6wjFJl33K4sCu8MgrVeHfQWy23b3llSmgXx5kt0jU5upj"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "ff7b1c30-712e-4523-9ad2-38f8ab44392d",
      "name": "Get attendee by email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        1440
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gdg.community.dev/api/system/email/manually_added_attendee_notification/resend",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "csrftoken=qv9ALD8Tes1BlU625chjNOZpSuiE3rnSVcIwTiGj9zmb7gvTbs8te2p00ryO4taH; sessionid=e5vcxuy8268eaxzdpqf5gs7lx11cwy6h"
            },
            {
              "name": "Referer",
              "value": "https://gdg.community.dev/accounts/dashboard/"
            },
            {
              "name": "X-Csrftoken",
              "value": "D5HvNz9PVPdshPEufCv6wjFJl33K4sCu8MgrVeHfQWy23b3llSmgXx5kt0jU5upj"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"object_uuid\": \"{{ $('If attendee has not been added').item.json.body.results[0].attendee_uuid }}\",\n  \"resend_id\": \"{{ $json.data }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "e51cc097-c43d-4149-bf2e-b066a7e0d4c6",
      "name": "Resend Event Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1660
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://www.uuidgenerator.net/api/version4",
        "options": {}
      },
      "id": "a94568a8-bbaf-42ad-9659-e744811d0ca6",
      "name": "Generate UUID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        1660
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA",
          "mode": "list",
          "cachedResultName": "[IOX 25 Jakarta] PO Official Merchandise (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 625951461,
          "mode": "list",
          "cachedResultName": "Verification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DF4sWBCAQh8EdTxWqnC_nf4dmfquHJZhNEecnPE37AA/edit#gid=625951461"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:AO999999"
            }
          }
        }
      },
      "id": "aef6a5a8-ffeb-45e4-b0f2-b962bb31be7d",
      "name": "Organizer fill the email and name",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        940
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "n59zLQzKnunYPchk",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b9e0a836-48b7-4dd6-a4b3-eafc620bd64a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -220,
        640
      ]
    },
    {
      "parameters": {
        "content": "Automation triggered on rowAdded from Google Form",
        "height": 80,
        "width": 218.6088707718815,
        "color": 3
      },
      "id": "bdbb49c1-7f4b-4b13-a78f-d4442ba76aa1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6aff05cf-0e70-42f6-adbd-d9625861b0bd",
              "leftValue": "={{ $json.labelIds.filter(item => item == \"SENT\") }}",
              "rightValue": "SENT",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6dc794f-142d-489f-ae8a-82194731854b",
      "name": "Check if email successfully sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        640
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "02768ca3-803c-4f51-a558-10d4b5bd6099",
              "leftValue": "={{ $('If attendee has not been added').item.json.body.results[0].ticket_id }}",
              "rightValue": 49379,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "146e6ccb-39be-4f93-b4a1-d785d1b61abb",
      "name": "If ticket title is not Merch Ticket",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        1440
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Create order summary verified": {
      "main": [
        [
          {
            "node": "Send verified email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send verified email": {
      "main": [
        [
          {
            "node": "Check if verified email successfully sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create order summary": {
      "main": [
        [
          {
            "node": "Send confirmation email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Item Paid": {
      "main": [
        [],
        [
          {
            "node": "Create order summary verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if ORDER VERIFIED": {
      "main": [
        [
          {
            "node": "Loop Item Paid",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update automation status to ADDED TO MERCH TICKET": {
      "main": [
        [
          {
            "node": "Loop Item Paid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If attendee has not been added": {
      "main": [
        [
          {
            "node": "Add Attendee to Merch Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If ticket title is not Merch Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Attendee to Merch Ticket": {
      "main": [
        [
          {
            "node": "Update automation status to ADDED TO MERCH TICKET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Attendee": {
      "main": [
        [
          {
            "node": "Add Attendee to Merch Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if verified email successfully sent": {
      "main": [
        [
          {
            "node": "Get attendee by email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send confirmation email": {
      "main": [
        [
          {
            "node": "Check if email successfully sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if email and name is not empty": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update automation status to ORDER EMAIL SENT": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get attendee by email": {
      "main": [
        [
          {
            "node": "If attendee has not been added",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend Event Email": {
      "main": [
        [
          {
            "node": "Update automation status to ADDED TO MERCH TICKET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UUID": {
      "main": [
        [
          {
            "node": "Resend Event Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizer fill the email and name": {
      "main": [
        [
          {
            "node": "Check if ORDER VERIFIED",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if email and name is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create order summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if email successfully sent": {
      "main": [
        [
          {
            "node": "Update automation status to ORDER EMAIL SENT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If ticket title is not Merch Ticket": {
      "main": [
        [
          {
            "node": "Delete Attendee",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate UUID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update automation status to ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72309087-e9b5-47d3-b700-70e285c6dfaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "496db227451f90ed7caa7ec4cceb57d946f3edcf2e38a2d5c1a3c7afe039993c"
  },
  "id": "gkOZbkvjLqIv9He4",
  "tags": []
}